@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<div class="block-center mt-4 wd-xl">
    <!-- START card-->
    <div class="card card-flat">
        <div class="card-header text-center bg-dark">
            <p style="color:white; font-size:large; font-weight:700 ">ShopLab</p>

        </div>

        <div class="card-body">
            <p class="text-center py-2">Preencha os campos para continuar.</p>
            <form class="mb-3" id="loginForm" novalidate="novalidate">
                <div class="form-group">
                    <div class="input-group with-focus">
                        <input class="form-control border-right-0" id="usuario" type="text" placeholder="Usuário" autocomplete="off" required="required" />
                        <div class="input-group-append">
                            <span class="input-group-text text-muted bg-transparent border-left-0">
                                <em class="fa fa-user"></em>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group with-focus">
                        <input class="form-control border-right-0" id="senha" type="password" placeholder="Senha" required="required" />
                        <div class="input-group-append">
                            <span class="input-group-text text-muted bg-transparent border-left-0">
                                <em class="fa fa-lock"></em>
                            </span>
                        </div>
                    </div>
                </div>

                <button class="btn btn-block btn-primary mt-3" type="button" onclick="validarUsuario()">Entrar</button>
            </form>
        </div>
    </div>
    <!-- END card-->

</div>

@section Scripts {
    <script src="@Scripts.Url("~/Scripts/jquery.validate.min.js")"></script>
    <script src="@Scripts.Url("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
    <script src="@Scripts.Url("~/Scripts/shopplab/controllers/shopplab.usuario.js")"></script>
}
